Flask==3.0.3
Flask-Cors==4.0.0
gunicorn==22.0.0
supabase
sqlalchemy==2.0.36
pydantic==2.9.2
langchain-google-genai==2.0.7
langchain-core==0.3.20
PyPDF2==3.0.1
pdf2image==1.17.0
Pillow==10.4.0
pandas==2.2.3
python-dotenv==1.0.1
